<h2>Non-critical Issues</h2>
<p>
If you have a question that is not critical, you may choose to email Windstream.
</p>
<p>
<a href="mailto:<s:property value='%{displayDto.custServEmail}' />?subject=Customer Care Inquiry from www.windstream.com">Click to Email.</a>
</p>