<h2>Technical Support</h2>
<p>
	For the fastest service, please visit our
	<a target="_blank" href="https://my.nuvox.net/portal/server.pt">"I'm a Customer"</a>
	site and submit an
	<a target="_blank" href="http://my.nuvox.net/">eTicket.</a>
</p>
<p>
	<strong>Or call</strong>:<br />
	T: 800.600.5050<br />
	Hours: 24 x 7
</p>