@charset "ISO-8859-1";

/*--== ELEMENT styles ==--*/
#mainContent {
	width: 				600px;
	margin:				0em 0em 0em 1em;
}
#introDiv {
	padding: 			.5em;
	color: 				black;
	font-weight: 		normal;
	display: 			block;
	text-align:			left;
}
#clarifyCaseFormDiv {
	padding: 			1.2em;
	background-color:	#E0F4B8;
	border: 			2px solid #C5F466;
}
#acctManagerSection{
	margin:				0.5em 0em;
	padding:			.5em;
	border:				1px solid #000000;
	float:				left;
	width:				inherit;
}
#lvl2 {
	clear:				both;
}
#buttonSection {
	padding-top: 		5px;
}

/*--== style CLASSES ==--*/
.colorMessage {
	color: 				#FFFFFF;
	text-align: 		center;
	border-width: 		2px;
	border: 			1px solid #ffffff;
	display: 			inline-block;
}
.goodMessage {
	background-color: 	#709A1A;
	border-color:		#178417;
	width:				130px;
	height:				23px;
}
.badMessage {
	/* Going to need to modify the height & width for errors */
	background-color:	#A51C1C;
	border-color:		#970000;
	padding:			1em;
	width:				auto;
	height:				auto;
}
.staticMessage {
	margin:				2em 1em 3em 1em;
	border-color:		black;
	border-top-style:	double;
	border-bottom-style:double;
	border-left-style:	1px solid;
	border-right-style:	1px solid;
	width:				auto;
	height:				auto;
}
.caseSuccessMessage {
	background-color: 	#709A1A;
	padding:			1em 2em;
	text-align:			left;
	width:				auto;
	height:				auto;
}
.emphasizeText {
	font-weight:		bold;
	padding:			.25em;
}
.submitButton {
	padding:			2px;
	width:				120px;
}
.required {
	font-size:			0.75em;
	color:				#760000;
}
.section {
	padding-top:		3px;
	padding-bottom:		3px;
	border-bottom:		2px solid #517900;
}
.loading {
	width:				16px;
	height:				16px;
	background:			transparent url("../images/loader.gif") no-repeat center;
	display:			inline-block;
}
.floatL {
	float:				left;
}
.floatR {
	float:				right;
}

/*--== HTML ELEMENT STYLES ==--*/
input[type="text"] {
	width:				100px;
}
label {
	display:			block;
}
fieldset {
	margin:				1em 0;
	padding:			1em;
	border:				1px solid #ccc;
	background:			#f8f8f8;
}
legend {
	font-weight:		bold;
}
textarea {
	width:				300px;
	height:				100px;
}

/* for Struts2 error messages */
li .errors {
	list-style:			none;
}
